In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/MuratCKoc/salesinsider/main/salesinsider/data/Groceries_dataset.csv')
data_df = df[['Date', 'itemDescription']]
data_df.head()

         Date   itemDescription
0  21-07-2015    tropical fruit
1  05-01-2015        whole milk
2  19-09-2015         pip fruit
3  12-12-2015  other vegetables
4  01-02-2015        whole milk

In [29]:
cat_df = pd.get_dummies(data_df["itemDescription"])
final_df = pd.concat([data_df,cat_df],axis=1)
grouped_df = final_df.groupby("Date", as_index=False).sum()
grouped_df.head()

         Date  Instant food products  UHT-milk  ...  whole milk  yogurt  zwieback
0  01-01-2014                      2         0  ...           2       4         0
1  01-01-2015                      0         0  ...           3       0         0
2  01-02-2014                      0         0  ...           1       3         0
3  01-02-2015                      0         1  ...           9       6         0
4  01-03-2014                      0         0  ...           1       1         0

[5 rows x 168 columns]

In [31]:
grouped_df.columns

Index(['Date', 'Instant food products', 'UHT-milk', 'abrasive cleaner',
       'artif. sweetener', 'baby cosmetics', 'bags', 'baking powder',
       'bathroom cleaner', 'beef',
       ...
       'turkey', 'vinegar', 'waffles', 'whipped/sour cream', 'whisky',
       'white bread', 'white wine', 'whole milk', 'yogurt', 'zwieback'],
      dtype='object', length=168)

In [57]:
from fbprophet import Prophet

for i in range(21, len(grouped_df.columns)): 
  prophet_df = grouped_df[["Date", grouped_df.columns[i]]]
  prophet_df.columns = ["ds", 'y']
  prophet_df['ds'] = pd.to_datetime(prophet_df.ds,format='%d-%m-%Y') 
  model = Prophet()
  model.fit(prophet_df)
  future = model.make_future_dataframe(periods=213)
  forecast = model.predict(future)
  predicted_df = forecast[["ds", "yhat"]]
  predicted_df.yhat = predicted_df.yhat.round()
  break

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [58]:
predicted_df

            ds  yhat
0   2014-01-01   0.0
1   2014-01-02   1.0
2   2014-01-03   1.0
3   2014-01-04   1.0
4   2014-01-05   1.0
..         ...   ...
936 2016-07-26   2.0
937 2016-07-27   1.0
938 2016-07-28   2.0
939 2016-07-29   2.0
940 2016-07-30   2.0

[941 rows x 2 columns]